#allFormsContainer {
    display: flex;
    padding-top: 0rem;
    justify-content: space-between;

}

#signUpContainer,
#logInContainer {
    flex: 5;
    border-radius: 15px;
    box-shadow: 2px 3px 5px #000000;
    padding: 1.2rem;
    max-width: 400px;
    margin: 1.5rem 2rem 1.5rem 2rem;

}

#signUpForm,
#logInForm {
    display: flex;
    flex-direction: column;


}

.submit-button {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h2 {
    color: #db8204;
}

/* Values that will change on smaller screen sizes */
@media screen and (max-width: 960px) {
    #allFormsContainer {
        flex-direction: column;
    }

    #signUpContainer,
    #logInContainer {
        min-width: 75%;
        margin: 1.5rem auto 1.5rem auto;
    }


}