#contentContainer {
    text-align: center;
}

#questionWrapper {
    border: 1px solid #f1a02f;
    border-radius: 8px;
    width: 80%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0.5rem auto 0.5rem auto;
}

textarea {
    border-bottom: 1px solid #f1a02f;
}

textarea:focus {
    border-bottom: 1px solid #f1a02f;
}

#buttonContainer {
    display: flex;
    justify-content: space-between;
    margin: 0rem 0rem 0rem 0rem;

}

.ask-btn {
    flex: 4;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem
}

#resetBtn {
    background: #999999
}

#resetBtn:focus,
#resetBtn:active {
    background: #6d6c6c
}

/* Values that will change on smaller screen sizes */
@media screen and (max-width: 960px) {
    #buttonContainer {
        flex-direction: column;
    }

    .ask-btn {
        margin: 0.5rem auto 0.5rem auto;
    }
}